/* custom css for portfolio */

/* SAVED STYLES */
/* ECF0F1 - off white */

/* ============================================
UNIVERSAL STYLES
=============================================== */

.table-display {
    display: table;
}

.table-cell-display {
    display: table-cell;
    vertical-align: middle;
}

/* ============================================
NAVIGATION
=============================================== */

.navbar-light {
    padding: 30px 20px;
    transition: padding 0.9s;
    background-color: transparent;
    transition: all, 1s;
}

.navbar-shrink {
    padding: 10px 20px;
    background-color: #243A06;
    transition: all, 0.5s;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.navbar-light .navbar-brand:hover {
    color: black;
    transition: all, 0.9s;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
    transition: all, 0.5s;
}

/* scroll to top button in lower right of screen */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
}

.svg-inline--fa {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* ============================================
LINKS
=============================================== */

.svg-inline--fa a:focus {
    text-decoration: none;
}

/* ============================================
TYPOGRAPHY
=============================================== */

h1, h2, h3, h4, h5 {
    font-family: 'Overpass', sans-serif;
}

p, a {
    font-family: 'Source Serif Pro', serif;
}


/* ============================================
MAIN SECTION
=============================================== */

.hero_section {
    background-image: url('images/board-path.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 670px;
    position: relative;
    z-index: 1;
}

.hero-text {
    font-size: 54px;
}

.hero-caption {
    font-size: 24px;
    color: #fff;
}

/* ============================================
ABOUT ME SECTION
=============================================== */

.biography {
    background-color: #ECF0F1;
    overflow: auto;
}

/* ============================================
PORTFOLIO SECTION
=============================================== */

hr {
    margin: 0 20% 3% 20%;;
    background-color: #3F4045;
}

/* ============================================
SOCIAL LINKS SECTION
=============================================== */

/* intermediate section after portfolio test */
.interim_section {
    background-image: url('images/boats-harbor.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 340px;
    position: relative;
    z-index: 1;
}

/* ============================================
CONTACT SECTION
=============================================== */



/* ============================================
FOOTER
=============================================== */

footer {
    height: 100px;
    background-color: #243A06;
    color: #fff;
}
  