/* custom css for portfolio */

/* TO DO - ADD TABLE CELL DISPLAY CLASSES */
.table-display {
    display: table;
}

.table-cell-display {
    display: table-cell;
    vertical-align: middle;
}




/* ============================================
NAVIGATION
=============================================== */

.navbar-light {
    padding: 30px 20px;
    transition: padding 0.9s;
    /* background-color: tomato; */
    /* border: 2px solid black; */
    background-color: transparent;
    transition: all, 1s;
}

.navbar-shrink {
    padding: 10px 20px;
    background-color: tomato;
    transition: all, 0.5s;
}

/* scroll to top button in lower right of screen */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
}
.svg-inline--fa {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* hero container pic test */
.hero_section {
    background-image: url('images/dummy-2000X1500-Ocean.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 670px;
    position: relative;
    z-index: 1;
}

/* intermediate section after portfolio test */
.interim_section {
    background-image: url('images/dummy-2000X1500-Stones.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 340px;
    position: relative;
    z-index: 1;
}

/* ============================================
FOOTER
=============================================== */

footer {
    height: 100px;
    background-color: tomato;
}
  